body {
    margin: 0;
    background-color: black;
    display: flex;
    justify-content: center;
}
* {
    font-family: 'Montserrat', sans-serif;
}

.content {
    display: flex;
    flex-direction: column;
    border: 1px solid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 70vw;
    background-color: rgb(70, 70, 70);
}

.gameboard {
    height: 400px;
    width: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 160px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid rgb(124, 123, 123);
    font-size: 6em;
    font-family: fantasy;
    color: white;
}

h1 {
    font-size: 4em;
    font-weight: 900;
    color: white;
    font-family: fantasy;
}

.buttons {
    margin-bottom: 60px;
}

button {
    height: 35px;
    width: 120px;
    margin-right: 10px;
    font-size: 1.2em;
    border-radius: 5px;
    background-color: rgb(38, 37, 37);
    color: rgb(203, 198, 198);
    border: none;
}

button:hover {
    background-color: rgb(171, 169, 169);
    color: black;
}

h3 {
    font-size: 1.5em;
    padding-bottom: 1em;
    padding-top: 1em;
    color: white;
}

label {
    color: white;
}

/* MODAL */

.modal {
    display: flex;
    justify-content: center;
    width: 450px;
    height: 860px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    background-color: black;
    margin: auto;
    opacity: 0.9;
}

.modal-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.modal-content div {
    display: flex;
    justify-content: space-between;
    font-size: 1.5em;
}

div input {
    width: 40px;
}

.submit {
    height: 30px;
    width: 100px;
    font-size: 0.8em;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
    background-color: rgb(70, 70, 70);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submitBtn {
    margin-right: auto;
    margin-left: auto;
}

h4 {
    color: white;
    font-size: 2em;
    padding-top: 30px;
    margin-left: 60px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
}

.close {
    margin-top: 20px;
    margin-left: 380px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
